<canvas
  *ngIf="values"
  baseChart
  [data]="this.data()"
  [options]="{
    animation: false,
    spanGaps: true,
    events: [],
    plugins: false,
    scales: {
      temperature: {
        type: 'linear',
        display: true,
        position: 'right',
        title: {
          display: true,
          text: values.temperatureUnit
        }
      },
      amount: {
        type: 'linear',
        display: true,
        position: 'left',
        title: {
          display: true,
          text: values.precipitationUnit
        }
      }
    }
  }"
></canvas>
