<section class="hero">
  <div class="hero-body">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column is-narrow title-icon">
        <app-svg-icon icon="bulb-outline"></app-svg-icon>
      </div>
      <div class="column">
        <p class="title" i18n>Light Settings</p>
        <p class="subtitle" i18n>
          Adjust the way how Smart Blueberry handles your lighting.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <h2 i18n>Light Modes</h2>
      </div>
    </div>
    <p i18n class="block">
      Lights are triggered automatically in dependence to daylight and presence
      changes.
    </p>

    <p i18n class="block">
      Smart Blueberry will add manageable light modes in each area to let you
      adjust it's particular light configuration. Setup the lighting modes in
      each location by selecting your light configuration via
      <app-entity-schema domain="input_select">
        light_mode_&lt;your area_id&gt; </app-entity-schema
      >.
    </p>
    <p i18n class="block">
      Your light configuration distinguishes between <em>dark</em>,
      <em>obscured</em> and <em>bright</em> conditions. For each condition you
      set the light behavior accordingly. Current choices are:
    </p>
    <ul class="content">
      <li i18n>Turn lights off (<code>off</code>)</li>
      <li i18n>Turn lights on (<code>on</code>)</li>
      <li i18n>Turn lights on presence (<code>auto-on</code>)</li>
      <li i18n>Disable light changes (<code>unchanged</code>)</li>
      <li i18n>Use lights to simulate presence (<code>simulate</code>)</li>
    </ul>
    <p i18n class="block">
      Light entities in areas with a lighting behavior of
      <code>auto-on</code> will turn off after a given time without presence
      events. Change the duration in your light configuration to adjust the
      number of minutes until lights are turned off automatically.
    </p>

    <app-accordion
      *ngFor="let lightMode of lightModes"
      [hintClasses]="['has-text-primary', 'has-text-weight-bold']"
      [title]="lightMode.defaultValues.name"
      [visible]="lightMode.defaultValues.id == visibleAccordion"
      (visibleChange)="$event && openAccordion(lightMode)"
    >
      <app-form
        [formData]="lightMode"
        (onSubmit)="upsertLightMode($event)"
        #form
      >
        <div class="buttons is-grouped">
          <button i18n
            type="submit"
            class="button is-primary"
            *ngIf="form.value().id == null"
          >
            Create
          </button>
          <button
            type="submit"
            class="button is-primary"
            *ngIf="form.value().id != null"
            i18n
          >
            Update
          </button>
          <button
            type="button"
            class="button is-light"
            i18n
            (click)="deleteLightMode(lightMode.defaultValues.id)"
            *ngIf="form.value().id !== null"
          >
            Delete
          </button>
        </div>
      </app-form>
    </app-accordion>
    <div class="buttons is-grouped">
      <button
        [disabled]="visibleAccordion === undefined"
        type="button"
        class="button is-light"
        (click)="addLightMode()"
        
      >
        <span class="icon">
          <app-svg-icon icon="plus-outline" />
        </span>
        <span i18n> New Light Mode </span>
      </button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <h2 i18n>Light Measurement</h2>
      </div>
    </div>
    <p i18n class="block">
      Smart Blueberry analyzes light measurement by incorporating all
      <app-entity-schema domain="sensor" customPrefix="">
        &lt;any name that contains "illuminance"&gt;
      </app-entity-schema>
      and
      <app-entity-schema domain="sensor" customPrefix="">
        sun_solar_elevation
      </app-entity-schema>
      entities to calculate the actual light condition. Adjust the tresholds of
      obscured and bright conditions below.
      <app-entity-schema domain="select">light_condition</app-entity-schema> is
      frequently updated and reflects the current light condition.
    </p>
    <p i18n class="block">
      Note that all light measurement entities in areas with at least one active
      light entity are not put into consideration.
    </p>
    <app-form
      [formData]="lightTresholds"
      (onSubmit)="updateLightTresholds($event)"
    >
      <div class="buttons is-grouped">
        <button
          type="submit"
          class="button is-primary"
          i18n
          [disabled]="lightTresholds === undefined"
        >
          Update
        </button>
      </div>
    </app-form>
  </div>
</div>
