<section class="hero">
  <div class="hero-body">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column is-narrow title-icon">
        <app-svg-icon icon="unlock-outline"></app-svg-icon>
      </div>
      <div class="column">
        <p class="title is-3" i18n>Door &amp; Window Settings</p>
        <p class="subtitle is-5" i18n>
          Adjust the way how Smart Blueberry handles door and window state
          changes.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <h2 i18n>Climate Control</h2>
      </div>
    </div>
    <p i18n class="block">
      You can turn off all your climate devices at once, if windows or doors are
      openend. You can activate this feature below.
    </p>

    <div class="field has-addons">
      <div class="control">
        <button
          type="submit"
          i18n
          class="button is-primary"
          (click)="setFeature('climate', true)"
          [disabled]="doorsWindowsFeatures === undefined"
          *ngIf="!doorsWindowsFeatures?.climate"
        >
          Activate
        </button>
        <button
          type="submit"
          i18n
          class="button is-primary"
          (click)="setFeature('climate', false)"
          *ngIf="doorsWindowsFeatures?.climate"
        >
          Deactivate
        </button>
      </div>
    </div>
  </div>
</div>
