<section class="hero">
  <div class="hero-body">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column is-narrow title-icon">
        <app-svg-icon icon="link-2-outline"></app-svg-icon>
      </div>
      <div class="column">
        <p class="title" i18n>Setup</p>
        <p class="subtitle" i18n>
          Authenticate with your Home Assistant - Instance to get started with
          Smart Blueberry.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="card">
  <div class="card-content">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column">
        <h2 i18n>Connection to Home Assistant</h2>
      </div>
      <div class="column is-narrow">
        <ng-container
          *ngIf="haService.isAuthenticated(); else globallyNotConnected"
        >
          <span class="tag is-success">
            <app-svg-icon icon="checkmark-outline" />
            <ng-container i18n>Connected</ng-container>
          </span>
        </ng-container>
        <ng-template #globallyNotConnected>
          <span class="tag is-danger">
            <app-svg-icon icon="alert-circle-outline" />
            <ng-container i18n>No connection</ng-container>
          </span>
        </ng-template>
      </div>
    </div>

    <p class="block" i18n *ngIf="!haService.isAuthenticated()">
      Please login into your Home Assistant to start the long-lived
      authentication flow with Home Assistant.
    </p>
    <p class="block" i18n *ngIf="haService.isAuthenticated()">
      You successfully authenticated with Home Assistant. You are ready to read
      and modify the long-lived authentication status.
    </p>

    <div class="field has-addons">
      <div class="control">
        <button
          type="submit"
          i18n
          class="button is-primary"
          (click)="authenticate()"
          *ngIf="!haService.isAuthenticated()"
        >
          Login
        </button>
        <button
          type="submit"
          i18n
          class="button is-primary"
          (click)="unauthenticate()"
          *ngIf="haService.isAuthenticated()"
          [disabled]="haService.isSupervised()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf="haService.isAuthenticated()">
  <div class="card-content">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column">
        <h2 i18n>Long-Lived Connection to Home Assistant</h2>
      </div>
      <div class="column is-narrow">
        <ng-container
          *ngIf="haService.isGloballyConnected(); else globallyNotConnected"
        >
          <span class="tag is-success">
            <app-svg-icon icon="checkmark-outline" />
            <ng-container i18n>Connected</ng-container>
          </span>
        </ng-container>
        <ng-template #globallyNotConnected>
          <span class="tag is-danger">
            <app-svg-icon icon="alert-circle-outline" />
            <ng-container i18n>Not connected</ng-container>
          </span>
        </ng-template>
      </div>
    </div>
    <p class="block" i18n>
      Set your user as the authenticating technical user for establishing API
      access. Smart Blueberry will request a long-lived token and use it to
      establish a long-lived connection to Home Assistant.
    </p>
    <article class="message is-success" *ngIf="haService.isGloballyConnected()">
      <div class="message-body" i18n>
        Connected via <b>{{ haService.getGlobalConnectionName() }}</b>
      </div>
    </article>

    <div class="field is-grouped">
      <div class="control">
        <button
          type="submit"
          class="button is-primary"
          (click)="setGlobalConnection()"
          [attr.disabled]="haService.isSupervised() ? true : null"
        >
          <ng-container
            i18n
            *ngIf="
              haService.isGloballyConnected();
              else globallyNotConnectedEstablishButton
            "
          >
            Reestablish long-lived connection
          </ng-container>
          <ng-template #globallyNotConnectedEstablishButton i18n>
            Setup long-lived connection
          </ng-template>
        </button>
      </div>
      <div class="control">
        <button
          [disabled]="
            !haService.isGloballyConnected() || haService.isSupervised()
          "
          i18n
          type="submit"
          (click)="unsetGlobalConnection()"
          class="button is-light is-primary"
        >
          Disconnect
        </button>
      </div>
    </div>
  </div>
</div>
