<section class="hero">
  <div class="hero-body">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column is-narrow title-icon">
        <app-svg-icon icon="umbrella-outline"></app-svg-icon>
      </div>
      <div class="column">
        <p class="title" i18n>Irrigation Settings</p>
        <p class="subtitle" i18n>
          Adjust the way how Smart Blueberry handles the irrigation of your
          garden.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <h2 i18n>Irrigation Valve Items</h2>
      </div>
    </div>
    <p class="block" i18n>
      In order to let Smart Blueberry handle all irrigation valves for you, name
      your valve items like
      <app-entity-schema domain="switch" customPrefix="">
        &lt;any name that contains "valve"&gt; </app-entity-schema
      >. Afterwards, you can configure your valve entity in respect to your
      irrigation conditions.
    </p>

    <h3 i18n>Adjust irrigation variables</h3>
    <p class="block" i18n>
      In order to achieve an optimal irrigation, adjust the following values to
      your satisfaction.
    </p>

    <p class="block" i18n>
      <strong>Irrigation Level Per Minute (mm / in):</strong> Defines how much
      water will be irrigated by the valve upon your plants (<code>1mm</code>
      equals <code>1l/m²</code>, <code>1in</code> equals
      <code>0.6234gal/ft²</code>)
    </p>

    <p class="block" i18n>
      <em>
        Example 1: You have an area of <code>10m²</code> and your valve pours
        <code>10l</code> per minute. Consequently, you have an irrigation level
        of <code>1mm</code> per minute (<code>10l / 10m² = 1l/m² ≙ 1mm</code>).
      </em>
    </p>
    <p class="block" i18n>
      <em>
        Example 2: You have an area of <code>10ft²</code> and your valve pours
        <code>0.6234gal</code> per minute. Consequently, you have an irrigation
        level of <code>0.1in</code> per minute (<code
          >0.6234gal / 10ft² = 0.06234gal/ft² ≙ 0.1in</code
        >).
      </em>
    </p>

    <p class="block" i18n>
      <strong>Evaporation Factor:</strong> Increase or decrease the evaporation
      per day that is based on the <em>Hargreaves–Samani model</em>. Set it
      above <code>1</code> to increase evaporation, set it below
      <code>1</code> to decrease evaporation.
    </p>

    <p class="block" i18n>
      <strong>Minimal Temperature:</strong> Skips any irrigation triggers, if
      the temperature of the upcoming or last seven days has gone below the
      minimal temperature.
    </p>

    <p class="block" i18n>
      <strong>Bucket Size (days):</strong> Defines the range of days Smart
      Blueberry monitors the precipitation rate and decides to trigger
      irrigation.
    </p>

    <p class="block" i18n>
      <strong>Extend Bucket upon Future Rainfalls (days):</strong> Maximum
      number of days Smart Blueberry will postpone irrigation on upcoming rain,
      although precipitation level cannot be maintained.
    </p>

    <app-accordion
      #accordion
      [title]="irrigationValve.entityName"
      *ngFor="let irrigationValve of irrigationValves"
    >
      <app-form
        *ngIf="accordion.visible"
        [formData]="irrigationValve.formData"
        (onSubmit)="updateIrrigationValve($event)"
        #form
      >
        <p class="block">
          <strong i18n>Calculation Example:</strong>
          <em i18n>
            Assuming no rain and an evaporation of <code>1mm</code> /
            <code>1in</code> a day, your plants need
            <code>{{ form.value().evaporationFactor }}mm</code> /
            <code>{{ form.value().evaporationFactor }}in</code> of water per
            day. Your valve irrigates
            <code>{{ form.value().irrigationVolumePerMinute }}</code> per
            minute. Consequently the valve will irrigate for
            <code>{{
              calculatedMinutes(form.value())
                | i18nPlural
                  : {
                      '=0': '0 minutes',
                      '=1': '1 minute',
                      other: '# minutes'
                    }
            }}</code
            >, if there was no rain for
            <code>{{
              form.value().observedDays | i18nPlural : this.i18nPluralMapping
            }}</code>
            and will be no rain in
            <code>{{
              form.value().overshootDays | i18nPlural : this.i18nPluralMapping
            }}</code
            >.
          </em>
        </p>

        <p class="block">
          <em
            i18n
            *ngIf="
              irrigationValve.amounts.futureIrrigation;
              else irrigationPlanned
            "
          >
            An irrigation is planned for today.
          </em>
          <ng-template #irrigationPlanned>
            <em i18n>No irrigation planned today.</em>
          </ng-template>
        </p>

        <app-irrigation-chart
          [values]="irrigationChartValues(irrigationValve.series, form.value())"
        />

        <div class="control">
          <button type="submit" class="button is-primary" i18n>Save</button>
        </div>
      </app-form>
    </app-accordion>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <h2 i18n>Additional Irrigation Trigger</h2>
      </div>
    </div>
    <p i18n class="block">
      You can trigger the
      <app-entity-schema>_check_irrigation</app-entity-schema> event in your
      Home Assistant automations that automatically start the irrigation check.
    </p>
    <p i18n class="block">
      Additionally, any valve's state of
      <app-entity-schema domain="switch" customPrefix="">
        &lt;any name that contains "valve"&gt;
      </app-entity-schema>
      changed to <code>off</code> will trigger an irrigation check.
    </p>
    <p i18n class="block">
      Optionally, you can activate the irrigation check on entity updates of
      <app-entity-schema customPrefix="" domain="weather">
        &lt;any name&gt;
      </app-entity-schema>
      entities.
    </p>

    <div class="field has-addons">
      <div class="control">
        <button
          type="submit"
          i18n
          class="button is-primary"
          (click)="setFeature('checkOnForecastUpdates', true)"
          [disabled]="irrgationFeatures === undefined"
          *ngIf="!irrgationFeatures?.checkOnForecastUpdates"
        >
          Activate
        </button>
        <button
          type="submit"
          i18n
          class="button is-primary"
          (click)="setFeature('checkOnForecastUpdates', false)"
          *ngIf="irrgationFeatures?.checkOnForecastUpdates"
        >
          Deactivate
        </button>
      </div>
    </div>
  </div>
</div>
